table.items-table tr td {
	vertical-align: top;
	padding-bottom: 15px;
}

table.items-table tr {
}

.normal-affix {
	font-style: normal;
	color: green;
}

.unknown-affix {
	font-style: italic;
	color: red;
}