body {
	background-color: #ccc;
}

#tabs {
	margin-top: 20px;	
}

form.tab-info {
}

.section {
	padding-bottom: 20px;
}

.x-small {
	font-size: x-small;
}

.list-item {
	background-color: #fff;
	vertical-align: top;
	vert-align: top;
	border: 1px solid #aaa;
	padding: 5px;
	margin-bottom: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.inline-block {
	vertical-align: top;
	vert-align: top;
	display: inline-block;
	margin-right: 10px;
}
.item-header {
	font-size: 18px;
}