@using System.Linq
@model dynamic

@{
	ViewBag.Title = "Items";
}

<div id="content" ng-controller="ItemListCtrl">
	<h2>@ViewBag.Title</h2>

	<ul>
		<li ng-repeat="item in items" class="item-box">
			<div class="section bordered black icon"><img src="{{item.Icon}}" /></div>
			<div class="section">
				<div class="header">
					{{item.Name}}
				</div>
				<div class="section bordered padded">
					<div class="properties">
						<div>{{item.ItemType.Type}}</div>
						<div>{{item.ItemType.BaseType}}</div>
						<div>{{item.ItemType.Category}}</div>
					</div>
				</div>
				<div class="section bordered padded">
					<div class="properties" ng-repeat="mod in item.ExplicitMods">
						<div>{{mod.Name}}</div>
					</div>
				</div>

			</div>
		</li>
	</ul>
</div>

@Scripts.Render("~/Scripts/controllers/homeController.js")