@using System.Linq
@model dynamic

@{
	ViewBag.Title = "Items";
}

<h2>@ViewBag.Title</h2>

<div class="section">
	<div id="itemList">
		<div class="text-center">
			<div><img src="~/Content/images/ajax-loader.gif" /></div>
			<div>Loading items list.. </div>
		</div>
	</div>
</div>


@section scripts{
	
	<script>

		$(function() {

			$.ajax({
				url: "/api/items",
			}).done(function(data) {
				//console.log(data);
				updateTable(data);
			});
		});

		function updateTable(result) {
			var container = $("#itemList");
			container.empty();
			container.loadTemplate($("#items-template"), result.Items);

			var explicitModsContainer = container.find("div.explicit-mods");
			var len = explicitModsContainer.length;
			for (var i = 0; i  < len; i++) {
				var modContainer = $(explicitModsContainer[i]);
				if (result.Items[i] != undefined && result.Items[i].ExplicitMods != undefined) {
					//console.log(i + " ok");
					modContainer.loadTemplate($("#explicit-mods-template"), result.Items[i].ExplicitMods);
				}
			}
		}

	</script>
	
	<script type="text/html" id="items-template">
		<div class="list-item">
			<div class="inline-block icon-frame">
				<img data-src="Icon" />
			</div>
			<div class="inline-block">
				<div class="item-header" data-content="Name"></div>
				<div class="inline-block framed">
					<div>
						<div data-content="TypeLine"></div>
						<div><span data-content="BaseType"></span> (<span data-content="Category"></span>)</div>
					</div>
				</div>
				<div class="inline-block explicit-mods framed">
				</div>
			</div>
		</div>
	</script>
	
	<script type="text/html" id="explicit-mods-template">
		<div data-content="DisplayText"></div>
	</script>

	}
