<h3>Items</h3>
<ul>
	<li ng-repeat="item in items" class="item-box">
		<div class="section bordered black icon"><img ng-src="{{item.Icon}}" /></div>
		<div class="section">
			<div class="header">
				{{item.Name}}
			</div>
			<div class="section bordered padded properties">
				<div class="properties">
					<div>{{item.ItemType.Type}}</div>
					<div>{{item.ItemType.BaseType}}</div>
					<div>{{item.ItemType.Category}}</div>
					<div>{{item.Location.Tab}}</div>
				</div>
			</div>
			<div class="section bordered padded mods">
				<div class="properties" ng-repeat="mod in item.ExplicitMods">
					<div>{{mod.DisplayText}}</div>
				</div>
			</div>

		</div>
	</li>
</ul>